{{template "base/head" .}}
<div class="organization settings delete">
	{{template "org/header" .}}
	<div class="ui container">
		<div class="ui grid">
			{{template "org/settings/navbar" .}}
			<div class="twelve wide column content">
				{{template "base/alert" .}}
				<h4 class="ui top attached header">
					{{.i18n.Tr "settings.de_gogs"}}
				</h4>
				<div class="ui attached segment">
					<form class="ui form" action="{{.Link}}" method="post">
						{{.CSRFTokenHTML}}
						<div class="field">
							<button class="ui green button">{{$.i18n.Tr "settings.de_gogs"}}</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
